# This file is used to set environment variables for the application.

# MinIO configuration
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=yourKey
MINIO_ROOT_PASSWORD=yourSecret
MINIO_BUCKET=mybucket

